<link href="https://cdn.jsdelivr.net/npm/boosted@5.2.0/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-CYwBBOBitXWralvRBTTEteu86YHHydT/+Wsv4kmxP6oF/SaesPQeMxLbblEUyZf/" crossorigin="anonymous">
<div class="content">
<div class="card">
    <div class="card-header" style="text-align: center;">
      Liste des Documents
    </div>
    <div class="card-body">
     
     
    </div>
</div>
<div>
    <table class="table caption-top">
        <thead>
          <tr>
            <th scope="col" class="visually-hidden">
                <div class="form-check mb-0">
                  <input class="form-check-input" type="checkbox" id="customCheck">
                  <label class="form-check-label" for="customCheck">
                    <span class="visually-hidden">Select all</span>
                  </label>
                </div>
            </th>
            <th scope="col">Nom du Document</th>
            <th scope="col">Type du Document</th>
            <th scope="col">Date de Creation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fl of files">
            <td>
                <div class="form-check mb-0">
                  <input class="form-check-input" type="checkbox" id="customCheck1">
                </div>
              </td>
            
           
            <td>{{fl.name}}</td>
            <td>{{fl.type}}</td>
            <td>{{fl.dateDeCreation}}</td>
            <th scope="row"></th>
            <td>
                <font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">
                    <button type="button" class="btn btn-warning" (click)="updateFile(fl.id)" >Modifier</button>
                  </font></font
                >
              </td>
    
              <td>
                <font style="vertical-align: inherit" 
                  ><font style="vertical-align: inherit" >
                    <button type="button" class="btn btn-primary" >Supprimer</button>
                  </font></font
                >
              </td>
              <td>
                <font style="vertical-align: inherit" 
                  ><font style="vertical-align: inherit" >
                    <button type="button" class="btn btn-primary" >Consulter</button>
                  </font></font
                >
              </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

