<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boosted demo</title>
    <!-- Copyright © 2014 Monotype Imaging Inc. All rights reserved -->
    <link
      href="https://cdn.jsdelivr.net/npm/boosted@5.2.0/dist/css/orange-helvetica.min.css"
      rel="stylesheet"
      integrity="sha384-A0Qk1uKfS1i83/YuU13i2nx5pk79PkIfNFOVzTcjCMPGKIDj9Lqx9lJmV7cdBVQZ"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/boosted@5.2.0/dist/css/boosted.min.css" rel="stylesheet" integrity="sha384-CYwBBOBitXWralvRBTTEteu86YHHydT/+Wsv4kmxP6oF/SaesPQeMxLbblEUyZf/" crossorigin="anonymous">
    
   
  </head>

  <body>
    <div id="top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-brand">
          <a class="stretched-link" href="#">
            <img src="./assets/icons/orange-logo.svg" width="50" height="50" />
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
         

   


            <div class="dropdown">
              <button class="dropbtn" class="nav-link active">Documents</button>
              <div class="dropdown-content">
                <a  href="upload/file">Télécharger document</a>
                <a href="list/file">Consulter documents</a>
                
              </div>
            </div>
          
            <div class="dropdown">
              <button class="dropbtn" class="nav-link active">Contrats</button>
              <div class="dropdown-content">
                <a  href="add/contrat">Ajouter Contrat</a>
                <a href="show/listcontrat">Consulter Contrats</a>
                
              </div>
            </div>

            <div class="dropdown">
              <button class="dropbtn" class="nav-link active">Clients</button>
              <div class="dropdown-content">
                <a  href="add/client">Ajouter Client</a>
                <a href="show/listclient">Consulter Clients</a>
                
              </div>
            </div>

           
            
            
          </ul>
         



          
        </div>
      </div>
      
    </nav>
    
    <script
      src="https://cdn.jsdelivr.net/npm/boosted@5.2.0/dist/js/boosted.bundle.min.js"
      integrity="sha384-NkAB+hiFHsv6dxwL0C4lJtfq1RblxY6+DRFn5QZDpgCdwB5RiOGjaJB0Weq0uCy3"
      crossorigin="anonymous"

    >
    

  </script><!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/boosted@5.2.0/dist/js/boosted.bundle.min.js" integrity="sha384-NkAB+hiFHsv6dxwL0C4lJtfq1RblxY6+DRFn5QZDpgCdwB5RiOGjaJB0Weq0uCy3" crossorigin="anonymous">

</script>


   
  </div>
  
  </body>
</html>


