<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>


<div class="d-flex align-items-start" style="width: fit-content">
  <div
    class="nav flex-column nav-pills me-3"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical"
  >
    <ul
      class="cd-accordion margin-top-lg margin-bottom-lg"
      style="margin-top: 10px"
    >
      <li
        class="cd-accordion__item cd-accordion__item--has-children"
        class="nav-item"
      >
        <input
          class="cd-accordion__input"
          type="checkbox"
          name="group-1"
          id="group-1"
        />

        <label
          class="cd-accordion__label cd-accordion__label--icon-folder"
          for="group-1"
          ><span>
            <i
              class="fa fa-angle-right"
              aria-hidden="true"
              style="padding-right: 5px"
            ></i>
            <i
              class="fa fa-folder-open"
              aria-hidden="true"
              style="padding-right: 10px"
            ></i>
            Group 1
          </span>
        </label>

        <ul class="cd-accordion__sub cd-accordion__sub--l1">
          <li class="cd-accordion__item cd-accordion__item--has-children">
            <input
              class="cd-accordion__input"
              type="checkbox"
              name="sub-group-1"
              id="sub-group-1"
            />
            <label
              class="cd-accordion__label cd-accordion__label--icon-folder"
              for="sub-group-1"
              ><span>Sub Group 1</span></label
            >

            <ul class="cd-accordion__sub cd-accordion__sub--l2">
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
            </ul>
          </li>

          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
        </ul>
      </li>
      <li
        class="cd-accordion__item cd-accordion__item--has-children"
        class="nav-item"
      >
        <input
          class="cd-accordion__input"
          type="checkbox"
          name="group-1"
          id="group-1"
        />

        <label
          class="cd-accordion__label cd-accordion__label--icon-folder"
          for="group-1"
          ><span>
            <i
              class="fa fa-angle-right"
              aria-hidden="true"
              style="padding-right: 5px"
            ></i>
            <i
              class="fa fa-folder-open"
              aria-hidden="true"
              style="padding-right: 10px"
            ></i>
            Group 1
          </span>
        </label>

        <ul class="cd-accordion__sub cd-accordion__sub--l1">
          <li class="cd-accordion__item cd-accordion__item--has-children">
            <input
              class="cd-accordion__input"
              type="checkbox"
              name="sub-group-1"
              id="sub-group-1"
            />
            <label
              class="cd-accordion__label cd-accordion__label--icon-folder"
              for="sub-group-1"
              ><span>Sub Group 1</span></label
            >

            <ul class="cd-accordion__sub cd-accordion__sub--l2">
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
            </ul>
          </li>

          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
        </ul>
      </li>
      <li
        class="cd-accordion__item cd-accordion__item--has-children"
        class="nav-item"
      >
        <input
          class="cd-accordion__input"
          type="checkbox"
          name="group-1"
          id="group-1"
        />

        <label
          class="cd-accordion__label cd-accordion__label--icon-folder"
          for="group-1"
          ><span>
            <i
              class="fa fa-angle-right"
              aria-hidden="true"
              style="padding-right: 5px"
            ></i>
            <i
              class="fa fa-folder-open"
              aria-hidden="true"
              style="padding-right: 10px"
            ></i>
            Group 1
          </span>
        </label>

        <ul class="cd-accordion__sub cd-accordion__sub--l1">
          <li class="cd-accordion__item cd-accordion__item--has-children">
            <input
              class="cd-accordion__input"
              type="checkbox"
              name="sub-group-1"
              id="sub-group-1"
            />
            <label
              class="cd-accordion__label cd-accordion__label--icon-folder"
              for="sub-group-1"
              ><span>Sub Group 1</span></label
            >

            <ul class="cd-accordion__sub cd-accordion__sub--l2">
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
            </ul>
          </li>

          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
        </ul>
      </li>
      <li
        class="cd-accordion__item cd-accordion__item--has-children"
        class="nav-item"
      >
        <input
          class="cd-accordion__input"
          type="checkbox"
          name="group-1"
          id="group-1"
        />

        <label
          class="cd-accordion__label cd-accordion__label--icon-folder"
          for="group-1"
          ><span>
            <i
              class="fa fa-angle-right"
              aria-hidden="true"
              style="padding-right: 5px"
            ></i>
            <i
              class="fa fa-folder-open"
              aria-hidden="true"
              style="padding-right: 10px"
            ></i>
            Group 1
          </span>
        </label>

        <ul class="cd-accordion__sub cd-accordion__sub--l1">
          <li class="cd-accordion__item cd-accordion__item--has-children">
            <input
              class="cd-accordion__input"
              type="checkbox"
              name="sub-group-1"
              id="sub-group-1"
            />
            <label
              class="cd-accordion__label cd-accordion__label--icon-folder"
              for="sub-group-1"
              ><span>Sub Group 1</span></label
            >

            <ul class="cd-accordion__sub cd-accordion__sub--l2">
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
              <li class="cd-accordion__item">
                <a
                  class="cd-accordion__label cd-accordion__label--icon-img"
                  href="#0"
                  ><span>Image</span></a
                >
              </li>
            </ul>
          </li>

          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
          <li class="cd-accordion__item">
            <a
              class="cd-accordion__label cd-accordion__label--icon-img"
              href="#0"
              ><span>Image</span></a
            >
          </li>
        </ul>
      </li>
    </ul>
    <!-- cd-accordion -->
  </div>
</div>
