<!-- CSS only -->

<div class="card">
    <div class="card-body" style="text-align: center;">
    <h1>CONTRATLIGNE</h1> 
    </div>
  </div> 

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CONTRATS ORANGE</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/show/listcontrat']" class="btn btn-primary">LISTES DES CONTRATS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CLIENTS ORANGE</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/show/listclient']" class="btn btn-primary">LISTE DES CLIENTS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CONTRATS ORANGE</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/show/listcontrat']" class="btn btn-primary">LISTES DES CONTRATS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CONTRATS ORANGE</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a [routerLink]="['/show/listcontrat']" class="btn btn-primary">LISTES DES CONTRATS</a>
        </div>
      </div>
    </div>

    
  </div>
